

img {
	
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color:#EDFFFF  ;
	margin-top: 1em;
}


.categories a {
	text-decoration: none;
	color: fff;
}

main {
	margin-top: 3em;
}

h1 {
	font-size: 2em;
	text-align: center;
	margin: 2em auto 1em auto;
}

.logo a {
	text-decoration: none;
	color: #40EAE9;
	font-weight: bold;
	font-size: 1.5em;
	margin-left: .5em;
	float: left;
}



.search{
	text-align: center;
	margin: 1em auto;
}

.search-input {
	font-size: 1em;
	padding: .3em 2.2em .3em .5em;
	border-radius: 3em;
	border: solid 2px #40EAE9;
	width: 60%;
	margin: auto;
}

.search-input:focus {
	border: solid 2px #18767D ;
	outline: none;
}

.search-button {
	padding: 0;
	cursor: pointer;
	background-color: #fff;
	border: none;
	
}


.search-button i {
	font-size: 1.3em;
	margin-left:-2.7em;
}

.nav ul {
	list-style: none;
	padding: 0;
	margin: 0 .5em 0 0;
	display: flex; 
	flex-wrap: wrap;
}


.nav li {
	display: block;
	cursor: pointer;
	text-align: center;
	
}

.menu {
	float: right;
}


.profile {
	position: relative;
	margin: 0 0 0 1em;
}

 
  
.account-menu:before {
content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -10px;
  width: 0;
  height: 0;
  border: 0 solid;
  border-color: transparent transparent #fff transparent;
  z-index: 9999; 
}

.account-menu {
	display: none;
    position: absolute;
	left: 70%;
	top: 2em;
    background-color: #fff;
	padding:0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    z-index: 9999;
	margin-left: -3em;
}

.account-menu a {
	border-bottom: 1px solid #40EAE9;
	color: black;
    padding: .3em .3em .3em .3em;
    text-decoration: none;
    display: block;
	font-size: 1em;
}

.account-menu a:hover{
	border-bottom: 1px solid #18767D;
}

 

.profile img {
	margin: 0;
	border-radius: 100%;
	border: solid 1.5px #000;
	width: 1.4em;
	height: 1.4em;
}


.basket{
	margin: 0 0 0 1em;
}

#cartCount {
    font-size: .6em;
    background: #DC3F07 ;
    color: #fff;
	padding: 0 .4em;
    vertical-align: top;
    margin-left: -10px;
	border-radius: 1em;
}


.sell{
	padding-top: .15em;
}


.sell a{
	text-decoration: none;
	color: #000;
	transition: .3s background-color;
	background-color: #40EAE9;
	padding: .1em .5em .1em .5em;
	border-radius: .3em;
	font-size: 1em;
	margin: 0;
}

.sell a:hover{
	background-color: #18767D ;
	color: #fff;
}


i {
	font-size: 1.5em;
	color: #000;
}


.clear1 {
	clear: both;
}


.categories {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding:0;
	align-items: center;
	justify-content:center;  
}


#books, #electronics, #stationery, #furniture, #food, #gardening {
	 background-position: cover;
	 background-size: 100% 100%; 
	 border-radius: .3em;
	 margin: 1em;
	 width: 35%; 
	 height: 8em; 
	 display: flex; 
	 align-items:center;
     justify-content:center;  
	 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	 cursor: pointer;
}

#books:hover, #electronics:hover, #stationery:hover, #furniture:hover, #food:hover:hover {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}


.categories li {
	font-size: 1.5em;
	font-weight: bold;
	color: #fff;
	z-index: 10;
	text-shadow: 0px 0px 17px #000;
}

#books{
	background-image: url("images/books.jpg");
}

#electronics{
	background-image: url("images/electronics.jpg");
}

#stationery{
	background-image: url("images/stationery.jpg");
}

#furniture{
	background-image: url("images/furniture.jpg");
}

#food{
	background-image: url("images/food.jpg");
}

#gardening{
	background-image: url("images/gardening.jpg");
}

.nav2 {
	margin: 0;
	width: 90%;
	font-weight: bold;
}

.nav2 a {
	text-decoration: none;
	color: #18767D;
}

.nav2 a:hover {
	text-decoration: none;
	color: #18767D;
}






/******************************************************************* Products page styles ***************************************************/

.items {
	position: absolute;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding:0;
	margin-top: 5em;
	align-items: center;
	justify-content:center;
}


#item {
	margin: 3em;
	text-align: center;
	width: 95%;
}

#item img {
	width: 95%;
}


#item #price, #description {
	font-size: 1.5em;
	margin: .5em 0;
}



/*************************************************** Filters ******************************************************/
#filters {
  height: 70%;
  margin-top: 9em;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #E5EFEF;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}


.closebtn {
  position: absolute;
  top: 0;
  right: .4em;
  font-size: 2.5em;
  margin-left: 50px;
  color: #000;
  cursor: pointer;
}

.fa-filter{
	 font-size: .8em;
}

#filter {
	font-size: 1.5em;
	margin: 1.5em 0 2em 0;
	position: absolute;
	cursor: pointer;
	float: left;
}

#filter-form{
	margin: 0 0 0 1em;
}


.filter{ 
	display: flex;
	flex-wrap: wrap;
}

.filter .input {
	margin: 0 1em .5em 0;
}

.filter-name{
	font-weight: bold;
	font-size: 1.5em;
	margin: 0 0 .5em 0;
}


#apply-filters{
	text-align: center;
}

.fa-star {
	font-size: 1.5em;
	cursor: pointer;
}

.checked{
	color: #DFD42E;
}

.unchecked{
	color: #E8EAB4;
}

#stars {
	display: none;
}

#price-range {
	margin: 0 0 .5em 0;
	background:  gray;
	-webkit-appearance: none;
	border-radius: 3em;
	height: 7px;
	width: 18em;
}

#price-range::-webkit-slider-thumb{
	background: #000;
	-webkit-appearance: none;
	cursor: pointer;
	width: 15px;
	height: 15px;
	border-radius: 100%;
}

#min {
	float:left;
}


#max {
	float:right;
}

#min-max {
	width: 12.5em;
	margin-bottom: 3em;
}


#sort{
	float: right;
	margin: 2em 0 0 0 ;
}



select {
  color: #000;
  font-size: 1.3em;
  background: #E8F2F4;
  border: none;
  width: 100%;
  padding: 0.5em;
  margin-bottom: 2em;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  box-sizing: border-box;
  border-radius: 3em;
}


select option{
	color: #000;
	font-size: 1em;
	padding:1em;
	background-color: none;
	border: solid 2px #e29c9c;
}



.info {
	font-size: 1.5em;
	margin-top: 3em;
	border: solid #EDFFFF;
}

.product-name {
	font-size: 2em;
	text-align: center;
	margin-top: 1em;
}

.price {
	float:left;
	font-size: 2em;
	margin-top: 0;
	font-weight: bold;
}

#product {
	padding: 0;
	width: 95%;
	margin: auto;
	text-align: center;
}


#product img {
	width: 100%;
}

.rate {
	float: right;
	font-weight: bold;
}



/****************************************** Setting the product quantity and adding it to the basket **********************************/

#quantity{
	width: 2em;
	margin: .5em;
	border: none;
	font-size: 2em;
	background: none;
	text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fa-circle-minus, .fa-circle-plus {
	cursor: pointer;
	font-size: 2em;
}

input[type=number] {
  -moz-appearance: textfield;
}


#add-to-basket{
	margin-top: 2em;
}


/****************************************** the seller messaging ********************************/
#message-seller {
	width: 90%;
	margin: 4em auto 2em auto;
}

#seller-profile {
	background-image: url("images/profile.png");
	background-size: 100% 100%;
	width: 3em;
	height: 3em;
	border-radius: 100%;
	border: solid 1.5px #000;
}

#seller-name{
	height: 2em;
	font-size: 1.5em;
	padding-left: 3em;
	margin: 0;
	position: absolute;
	margin-top: -1.7em;
}


#message{
	width: 100%;
	height: 7em;
	border: solid 1.5px #000;
	border-radius: 1em;
	margin-top: .3em;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.3em;
	padding: .2em;
	
}


/************************************** similar products ************************************/

.heading2 {
	font-size: 2.5em;
	font-weight: bold;
	margin-top: 2.5em;
}

.recommendation img {
	margin: auto;	
}

.recommendation p {
	font-size: 2em;
}

.recommendation{
	padding-top: 2em;
}


/************************************** the reviews ************************************/

.review {
	text-align: left;
	margin-top: 3em;
}

.review-rate {
	 margin-top: .5em;
}


.review-text{
	font-size: 1.5em;
}
/************************************** submit buttons ************************************/
input[type=submit]{
	background-color: #40EAE9;
	color: #fff;
	border: none;
	font-size: 1.4em;
	border-radius: .3em;
	padding: .4em;
    text-align: center;
	margin: 1em .5em .5em .5em;
}

input[type=submit]:hover{
	background-color: #18767D ;
	color: #fff;
}
/****************************************** Media queries **********************************/

@media screen and (min-width: 45em){
	.clear1 {
		clear: none;
	}
	
	.clear2 {
		clear: both;
	}
	
	i {
		font-size: 2em;
	}

	
	.sell a {
		font-size: 1.5em;
	}
	
	#cartCount {
		font-size: .8em;
	}
	
	.search-input {
		font-size: 1.3em;
		width: 13em;
	}
	
	.search {
		margin: 0 auto;
	}
	
	.profile {
		margin: 0 0 0 2em;
	}
	
	.profile img {
		width: 1.9em;
		height: 1.9em;
	}
	
	.basket {
		margin: 0 0 0 2em;
	}
	
	.nav ul {
		margin: 0 2em 0 0;
	}
	
	.logo a {
		font-size: 2em;
	}
	
	
	#books, #electronics, #stationery, #furniture, #food, #gardening {
		margin: 2em;
		width: 20%; 
		height: 10em;
	}		
	
	h1 {
		margin: 3em auto 2em auto;
	}
	
	.account-menu {
		top: 2.5em;
	}
	
	 
	.account-menu a {
		padding: .3em .7em .3em .7em;
	}
	
	.profile:hover .account-menu{
	display: block;
	}


	.profile:hover .account-menu:before{
	  border-width: 0 10px 10px 10px;
	}
	
	ul #item {
		margin: 4em;
		text-align: center;
		width: 30%;
	}

	ul #item img {
		width: 100%;
	}


	#item #price, #description {
		font-size: 2em;
		margin:1em 0;
	}
	
	
	#sort {
		margin: 3em 5em 0 0;
	}
	
	#filter {
		margin: 1.5em 0 2em 2em;
		font-size: 2em;
	}
	
	.fa-filter{
		font-size: 1em;
	}
	
	select{
		font-size: 1.5em;
	}
	
	#product, #product img{
		width: 70%;
	}
	
	#message-seller {
		width: 40%;
	}
	
	.heading2 {
		margin-top: 3.5em;
	}
	
	#price-range {
		width: 15em;
	}
}





@media screen and (max-width: 25em){
	.search-input { 
		width: 80%;
	}
	
	#books, #electronics, #stationery, #furniture, #food, #gardening {
		width: 50%;
	}
	
}



@media screen and (max-height: 450px) {
  .filters {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


